.signUp_form {
  /* border: 1px solid #000000; */
  position: absolute;
  margin-left: 0%;
  padding: auto;
  margin: auto;
  font-size: 2.5vmin;
  z-index: 9999;
  padding-bottom: 7rem;
}

.siginUp_form-input {
  outline: 2px solid rgb(255, 255, 255);
  border: 2px solid rgb(255, 46, 46);
  background-color: rgb(255, 255, 255);
  width: 37vmin;
  height: 4vmin;
  border-radius: 0.25em;
  margin: 0.25em 0;
  /* outline: none; */
  padding: 0.25em;
  box-sizing: border-box;
  transition: 0.3s;
}

.siginUp_form-input:focus {
  outline: 0.15625em solid rgb(255, 255, 255);
  border: 0.15625em solid rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 37vmin;
  border-radius: w;
  margin: 0.25em 0;
  padding: 0.25em;
  box-sizing: border-box;
  transition: 0.3s;
}

.siginUp_form-button {
  background-color: rgb(123, 82, 235);
  border: rgb(118, 77, 230);
  color: rgb(255, 255, 255);
  border-radius: 0.25em;
  height: 5vmin;
  width: 30%;
}

.siginUp_form-button:hover {
  background-color: rgb(113, 69, 234);
  border: rgb(109, 66, 229);
  color: rgb(255, 255, 255);
  border-radius: 0.25em;
  height: 5vmin;
  width: 30%;
}

.siginUp_form-oo {
  color: rgb(255, 0, 0);
  /* padding:4px; */
}
